*{
    margin: 0;
    padding: 0;
    
    /* box-sizing: border-box; */
}
@media(max-width:600px){
    body{
       background-color: white;
       width: 100%;
       height: 100vh;
       justify-content: center;
       display: flex;
       align-items: center;
       margin-left: -200px;
     
    }
    }
    
    .btn1{
       margin: 3px;
        cursor: pointer; 
        width: 80px;
        height: 80px;
        font-size: 30px;
        background-color: rgb(60, 60, 60);
        color: white;
        border-radius: 10px;
        border-style: groove;
        box-shadow:  2px 2px 3px rgb(103, 103, 103);
    }
    
    .btn1:hover{
        border: 5px solid rgb(199, 93, 31);
    }
    
    .firstclc{
        margin-top: 30px;
        margin-left: 450px;
        background-color: rgb(28, 28, 28);
        width: 400px;
        height: 550px;
        padding-right: 40px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 70px;
        border-radius: 10px;
    }
    
  
    .inputbx{
        margin-left: 30px;
        margin-top: 20px;
       
    }  
    
    .btn2{
    width: 270px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    }
    /* #bt{
        margin-left: 10px;
        
    } */
    
    #bb{
        cursor: pointer;
        margin-top: 10px;  
        background-color: rgb(60, 60, 60);
        color: white;
        border-radius: 10px;
        
        border-style: groove;
    }
    #cc{
        cursor: pointer;
        background-color: rgb(200, 93, 12);
        color: white;
        border-radius: 10px;
        
        border-style: groove;
    }
    
    #cc:hover{
        border: 5px solid grey;
    }
  
    
    
    #output{
       
        width: 355px;
         height: 60px;
          border-radius: 5px;
           background-color: rgb(182, 182, 182); 
           border-style: ridge; 
           font-size: 25px;
    }
